Install the following requirements using the (pip command) :
--------------------------------------------------------

1. For app.py file

- import streamlit as st
- import preprocessor,helper
- import matplotlib.pyplot as plt
- import seaborn as sns
- import time
- from nltk.sentiment.vader import SentimentIntensityAnalyzer


2. For helper.py

- from urlextract import URLExtract
- from wordcloud import WordCloud
- import pandas as pd
- from collections import Counter
- import emoji


3. For preprocessor.py

- import re
- import pandas as pd
